*.xlsx

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP client requests
/httpRequests/

# Ignored files for Datasource local storage
data_declaration.py
/dataSources.local.xml

# Ignored files for Zeppelin
/ZeppelinRemoteNotebooks/

/datasetTest.py/
